{{ include ('template.twig') }}
    <h3>Créer un compte</h3>
{% if (alert) %}
    <p class="alert alert-danger">{{ alert }}</p>
{%  endif %}

<form action="/connect/created" method="post" class="container">
    {% import 'forms.twig' as forms %}

    <p class ="row">
        {{forms.inputLabel('lname', 'nom', 'text', 'required')}}
    </p>

    <p class ="row">
        {{forms.inputLabel('fname', 'prénom', 'text', 'required')}}
    </p>

    <p class ="row">
        {{forms.inputLabel('pseudo', 'pseudo', 'text', 'required')}}
    </p>

    <p class ="row">
        {{forms.inputLabel('password', 'mot de passe', 'password', 'required')}}
    </p>

    <input type="submit">

</form>

