{{ include ('template.twig') }}
{{ include ('backend/navAdminView.twig') }}

<h1 data-toggle="collapse" data-target="#getPost" aria-expanded="false" aria-controls="getPost" class="title-hover">LES ARTICLES</h1><br/>

<a href="/newPost">+ Ajouter un article</a>

<section class="collapse {{collapse}}" id="getPost">
    <table class="table table-hover ">

        <thead>
        <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>date de parution</th>
            <th>date de création</th>
            <th>Contenu (extrait)</th>
        </tr>
        </thead>

        {% for post in posts %}
            <tr onclick="document.location='/postAdmin/{{post.id}}'">
{#                <a href="/postAdmin/{{post.id}}">#}
                    <td>{{post.id}}</td>
                    <td>{{post.title}}</td>
                    <td>{{post.date_display|date("d/m/Y")}}</td>
                    <td>{{post.date_insert|date("d/m/Y")}}</td>
                    <td>{{post.content|slice(0,60)}}(...)</td>
{#                </a>#}
            </tr>
        {% endfor %}

    </table>
</section>