{% macro inputLabel(name, label, type, required, value, idName, disabled, collabel, colinput) %}

<label for="{{idName | default('')}}" class="{{collabel | default('col-2')}}">{{label | default('name')}}</label>

<input name="{{name}}",
       type="{{type |default('text')}}",
       value="{{value | default('')}}",
       id="{{idName | default('')}}",
       class="{{colinput| default('col-6 form-control')}}",
       {{required ?: ''}},
       {{disabled ?: ''}}
       >

{% endmacro %}

{% macro input(name, type, required, value, idName, disabled, colinput) %}

<input name="{{name}}",
       type="{{type |default('text')}}",
       value="{{value | default('')}}",
       id="{{idName | default('')}}",
       class="{{colinput| default('col-6')}}",
       {{required ?: ''}},
       {{disabled ?: ''}}
>

{% endmacro %}

{% macro textareaLabel(name, label, required, value, idName, disabled, collabel, colinput, rows) %}

<label for="{{idName | default('')}}" class="{{collabel | default('col-2')}}">{{label | default('name')}}</label>

<textarea name="{{name}}",
       id="{{idName | default('')}}",
       class="{{colinput | default('col-6 form-control')}}",
       rows="{{ rows | default('8') }}"
       {{required ?: ''}},
       {{disabled ?: ''}}
       >
{{value | default('')}}
</textarea>

{% endmacro %}